## Build results
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.appx
*.appxbundle

## VS-specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## Logs
*.log

## NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Entity Framework
# Migrations folder is tracked to allow database schema changes

## Temporary files
*.cache
*.tmp
*.temp

## Web-specific
wwwroot/lib/
node_modules/
bower_components/

## OS generated
.DS_Store
Thumbs.db

## dotenv
.env


appsettings.json
appsettings.Development.json


CloudCityCenter/cloudcity.db
