@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="mb-3 d-flex gap-2 flex-wrap">
    <a asp-area="Admin" asp-controller="Products" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-2"></i>Создание товара
    </a>
    <a asp-area="Admin" asp-controller="Users" asp-action="NewUsers" class="btn btn-info">
        <i class="bi bi-people me-2"></i>Новые пользователи
    </a>
    <a asp-area="Admin" asp-controller="Users" asp-action="Customers" class="btn btn-success">
        <i class="bi bi-person-check me-2"></i>Клиенты
    </a>
    <a asp-area="Admin" asp-controller="Messages" asp-action="Index" class="btn btn-warning">
        <i class="bi bi-envelope-fill me-2"></i>Письма
    </a>
    <a asp-area="Admin" asp-controller="BlockedIps" asp-action="Index" class="btn btn-danger">
        <i class="bi bi-shield-x me-2"></i>Заблокированные IP
    </a>
</div>
