<div id="partnersCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <img src="https://via.placeholder.com/200x80" class="mx-auto d-block" style="height:80px;" alt="Partner 1" />
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/200x80" class="mx-auto d-block" style="height:80px;" alt="Partner 2" />
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/200x80" class="mx-auto d-block" style="height:80px;" alt="Partner 3" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#partnersCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#partnersCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
