<div class="container mb-5">
    <div class="card shadow text-center">
        <div class="card-body">
            <h2 class="card-title">Добро пожаловать!</h2>
            <p class="card-text">CloudCity Center упрощает аренду серверов по всему миру. Мы предлагаем простые тарифы и мгновенную поддержку.</p>
        </div>
    </div>
</div>
