<section class="py-5">
  <div class="container">
  <div class="row align-items-center">
    <!-- Левая часть с текстом -->
    <div class="col-md-6 text-md-start text-center">
        <h1 class="fw-bold display-5 mb-3">Welcome to <br>CloudCity Center</h1>
        <p class="mb-4" style="font-size: 1rem; color: #555;">
            Our company offers an extensive and diverse range of high-quality solutions that are meticulously tailored specifically for your unique business needs.
            We are committed to delivering these top-tier services at competitive and affordable prices that ensure exceptional value without breaking the bank,
            allowing you to maximize your investment and achieve your business goals effectively.
        </p>

        <!-- Кнопки -->
        <div class="d-flex flex-wrap gap-3 justify-content-center justify-content-md-start">
            <a class="btn btn-primary px-4 py-2" asp-controller="Servers" asp-action="Index" style="border-radius: 999px;">
                Server catalog
            </a>
            <a class="btn btn-outline-primary px-4 py-2" asp-controller="Account" asp-action="Register" style="border-radius: 999px;">
                Registration
            </a>
        </div>
    </div>

    <!-- Правая часть с изображением -->
   <div class="col-md-6 text-center mt-5 mt-md-0">
    <img src="/images/Home1.png" alt="CloudCityCenter" class="img-fluid" />
</div>





    </div>
  </div>
</section>
