<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - CloudCityCenter - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <div>Contact: info@example.com</div>
        <div>
            <a href="#" class="text-muted me-2">Twitter</a>
            <a href="#" class="text-muted me-2">Facebook</a>
            <a href="#" class="text-muted">LinkedIn</a>
        </div>
    </div>
</footer>
