@model CloudCityCenter.Models.ViewModels.HostingPageVm
@{
    ViewData["Title"] = "Web Hosting";
}

<section class="container py-4">
    <h1 class="mb-3">Web Hosting</h1>
    <p class="text-muted">
        Web Development is the creation of modern websites and applications for business needs.
We develop solutions with a focus on speed, security, and convenience, using the latest technologies.
    </p>



    <h5>Highlights</h5>
    <ul>
        <li>Custom design and functionality &amp; bandwidth</li>
        <li>Support for C#, Python, PHP, and popular builders
 &amp; backups</li>
        <li>EAdaptability and SEO optimization</li>
    </ul>
</section>

<section class="container py-4">
    <h2 class="mb-3">Hosting Plans</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model.HostingPlans)
        {
            <div class="col">
                <div class="card h-100">
                    @await Html.PartialAsync("_ProductCard", item)
                </div>
            </div>
        }
    </div>
</section>

<section class="container py-4">
    <h2 class="mb-3">Create Website</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model.WebsiteProducts)
        {
            <div class="col">
                <div class="card h-100">
                    @await Html.PartialAsync("_ProductCard", item)
                </div>
            </div>
        }
    </div>
</section>
